/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db; /* Choose a blue color for your header background */
    padding: 20px 0; /* Adjust the padding as needed */
}

.header-container {
    max-width: 1200px; /* Set a maximum width for the header container */
    margin: 0 auto; /* Center the header container */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically within the container */
}

.logo {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    margin-right: 20px; /* Add margin to separate the logo from other content */
}

nav {
    background-color: #263144; /* Dark blue color */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffcc29; /* Yellow color on hover */
}

.content {
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background color for content */
    color: #263144; /* Dark blue text color */
}

h1, h2, h3 {
    color: #ffcc29; /* Yellow color for heading text */
}
.ct {
    display: none;
}

.at {
    display: block;
}

/* ... (your existing CSS) ... */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.toggle-text {
    margin: 0 10px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}
