/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #263144; /* Dark blue color */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffcc29; /* Yellow color on hover */
}

.content {
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background color for content */
    color: #263144; /* Dark blue text color */
}

h1, h2, h3 {
    color: #ffcc29; /* Yellow color for heading text */
}
